<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
          crossorigin="anonymous">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" 
              integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
              crossorigin="anonymous">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
              integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
              crossorigin="anonymous">
      </script>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
            crossorigin="anonymous"
      >
  
  
      <!-- fontawesome settings -->
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
      />
      
      <title>Godwin's Homepage</title>
      <style>
        @keyframes move {
            from {
                left: 0%;
            }
            to {
                left: 30%;
            }
        }

        h1 {
            position: relative;
            animation-name: move;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-iteration-count:infinite
        }
    </style>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Woezor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'about_index' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'publications_index' %}">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
                  </li>
              </ul>
            </div>
        </div>
    
    </nav>
        <div class="container">
            {% block page_content %}{% endblock %}
        </div>
        <footer class="text-center">
          <br>
          <br>
          <br>
          <hr>
    
          <div class="footer-date">
            <p>Copyright &copy; 2023 </p>
          </div>
    
          <div class="social-media">
            <a href="https://www.linkedin.com/in/godwin-krampah-289b97138/" class="fab fa-linkedin" target="_blank" style="width:40px"></a>
            <a href="https://github.com/gkrampah" class="fab fa-github" target="_blank" style="width:40px"></a>
            <a href="https://www.instagram.com/godwinkrampah/?hl=en" class="fab fa-instagram" target="_blank" style="width:40px"> </a>
            <a href="https://web.facebook.com/godwin.krampah?_rdc=1&_rdr" class="fab fa-facebook" target="_blank" style="width:40px"></a>
            
          </div>
    
        </footer>
    </body>
</html>

