{% extends "base.html" %}
{% load static %}

{% block page_content %}
<br>
<br>
<br>
<div class="container" >
    <div class="row">
        <div class="col-6"><img src="{% static 'me.jpg' %}" class="rounded float-left" alt="my image" height="110%" width="105%"></div>
        <div class="col-6" style="font-family:verdana; font-size:400%; text-align:center;">
            
            <br>
            <h1>
                <strong>
                    Hi there! <br> Welcome to my Homepage
                </strong>
            </h1> 
        </div>
        
    </div>
</div>
{% endblock %}